<!DOCTYPE html>
<html>
	<head>
		<title>CS 100 Project</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="./static/css/w3.css">
		<link rel="stylesheet" href="./static/css/main.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	</head>
	<body>
		<div class="w3-container">
			<div class="w3-panel w3-leftbar w3-pale-blue w3-border-blue">
				<div class="w3-margin-top">
					<label>Search for a Location</label>
					<input id="input" class="w3-input" type="text">
					<button id="button" class="w3-button w3-black">Submit</button>
				</div>
				<br>
			</div>
			<div class="w3-display-container">
				<img id="image" class="w3-image w3-hover-opacity" src="./static/img/map-search.jpg" alt="Starting to code.">
			</div>
		</div>
		<script type="text/javascript" src="./static/js/map.js"></script>
		<script type="text/javascript">
		
			/* global getLocationImage */
			
			var button = document.querySelector('#button');
			var input = document.querySelector('#input');
			var image = document.querySelector('#image');
			button.addEventListener('click', function(e) {
				getLocationImage(input.value);
			});

		</script>
	</body>
</html>