<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <link href="../static/css/main.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
       <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase.js"></script>
       <script type="text/javascript" src="..static/js/form.js"></script>
       <link rel="stylesheet" href="..static/css/form.css">
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
       <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <title>MUNCH</title>

</head>

<body>

    <div class="body">
        <div id="header">
            <h1> MUNCH </h1>
            <div id="nav">
                <ul>
                    <li><a href="./">Home</a></li>
                    <li><a href="../requests">Request</a></li>
                    <li><a href="pollResults.html">Poll Results</a></li>
                    <li><a href="../menue">Today's Menue</a></li>
                </ul>
            </div>
        </div>


        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <form class="js-form">
                <div id="js-login-data">

                </div>
                <div class="form-group">
                  <label for="js-message">How was the food?</label>
                  <input type="message" id="js-message" class="form-control" />
                </div>
                <button id="js-submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div>
        </div>




        <div class="container">
            <div class="column1"> name of #1 choice</div>
            <div class="column2">name of #2 choice</div>
            <div class="column3">name of #3 choice</div>
        </div>

        <div class="footer">
            <p>the footer</p>
        </div>

        <div class="last"> </div>

    </div>

  </body>

</html>
