<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <link href="../static/css/main.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>MUNCH</title>

</head>

<body>

    <div class="body">
        <div id="header">
            <h1> MUNCH </h1>
            <div id="nav">
                <ul>
                    <li><a href="./">Home</a></li>
                    <li><a href="../requests">Request</a></li>
                    <li><a href="pollResults.html">Poll Results</a></li>
                    <li><a href="../menue">Today's Menue</a></li>
                </ul>
            </div>
        </div>

        <form>
            First Name<input type="Text" name="FirstName" placeholder="First Name">
            <br> Last Name<input type="Text" name="FirstName" placeholder="Last Name">
            <br> A-Number
            <input type="Text" name="FirstName" placeholder="A-Number">
            <br>
            <br>
            <input type="radio" name="meal" value="Break Fast" checked> Break Fast<br>
            <input type="radio" name="meal" value="Lunch"> Lunch<br>
            <input type="radio" name="meal" value="Dinner"> Dinner<br>
            <br>
            <select>
          <option value="one">Food 1</option>
          <option value="two">Food 2</option>
          <option value="three">Food 3</option>
          <option value="four">Food 4</option>
          <option value="five">Food 5</option>
         </select>
            <br><br>


            <input type="submit" value="Submit">
        </form>





        <div class="container">
            <div class="column1"> name of #1 choice</div>
            <div class="column2">name of #2 choice</div>
            <div class="column3">name of #3 choice</div>
        </div>

        <div class="footer">
            <p>the footer</p>
        </div>

        <div class="last"> </div>

    </div>





    <body>

</html>